services:
  app:
    build: .
    container_name: app
    restart: unless-stopped
    ports:
      - "8000:8000"
  monitor:
    image: grafana/grafana-oss:latest
    container_name: monitor
    restart: unless-stopped
    ports:
      - "3000:3000"
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    depends_on:
      - app
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
